@charset "utf-8";

/* リセット */
* {
	-webkit-text-size-adjust: none;
	box-sizing: border-box;
}

*:after,*:before {
	box-sizing: border-box;
}

body {
	font-size: 13px;
	color: #333;
	min-width: 320px;
	line-height: 1.5;
}

h1,h2,h3,h4,h5,h6{
	font-weight: normal;
}

a{
	color: #076baf;
}

#wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 640px;
}

.container {
	padding: 0 12px;
}

/* ヘッダ */
#header {
	border-top: 2px solid #2c9e66;
	padding: 10px;
}

#logo {
	float: left;
	width: 80%;
}

#logo img {
	max-width: 490px;
	width: 100%;
}

.ico-menu {
	float: right;
	width: 12%;
}

#main-menu {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: rgba(0,0,0,0.7);
	z-index: 99999;
}

#main-menu .menu-inner {
	float: right;
	/*height: 100%;*/
	position: relative;
	background: #fff;
	width: 80%;
	overflow: auto;
}

#main-menu h2 {
	background-color: #ececec;
	font-weight: 700;
	color: #333;
	font-size: 15px;
	border-bottom: 1px solid #ccc;
	padding: 9px 10px 6px;
}

#main-menu ul li {
	padding: 0 0 0 10px;
	border-bottom: 1px solid #ccc;
}

#main-menu ul li a {
	display: block;
	padding: 11px 10px 10px 20px;
	background-repeat: no-repeat;
	background-position: 0 13px;
	text-decoration: none;
	color: #333;
	font-size: 13px;
}

#main-menu ul .ico-menu-1 a {
	background-image: url(../common_img/ico_star.png);
	background-size: 14px 12px;
}

#main-menu ul .ico-menu-2 a {
	background-image: url(../common_img/ico_h_2.png);
	background-size: 13px 13px;
}

#main-menu ul .ico-menu-3 a {
	background-image: url(../common_img/ico_recently.png);
	background-size: 12px 12px;
}

#main-menu ul .ico-menu-4 a {
	background-image: url(../common_img/ico_document.png);
	background-size: 11px 13px;
}

#main-menu ul .ico-menu-5 a {
	background-image: url(../common_img/ico_h_7.png);
	background-size: 8px 13px;
}

#main-menu ul .ico-menu-6 a {
	background-image: url(../common_img/ico_star.png);
	background-size: 9px 12px;
}

#main-menu ul .ico-menu-7 a {
	background-image: url(../common_img/ico_2.gif);
	background-size: 12px 12px;
}

#main-menu ul .ico-menu-8 a {
	background-image: url(../common_img/ico_3.gif);
	background-size: 12px 12px;
}

#main-menu ul .ico-menu-9 a {
	background-image: url(../common_img/ico_4.gif);
	background-size: 12px 12px;
}

#main-menu ul .ico-menu-10 a {
	background-image: url(../common_img/ico_pet.png);
	background-size: 12px 12px;
}

#main-menu ul .ico-menu-11 a {
	background-image: url(../common_img/ico_1.gif);
	background-size: 12px 12px;
}

#main-menu ul .ico-menu-12 a {
	background-image: url(../common_img/ico_tree.png);
	background-size: 12px 12px;
}

#main-menu .banner {
	padding: 10px;
	border-bottom: 1px solid #ccc;
}

.open-nav {
	overflow: hidden;
}

.close-menu {
	width: 22px;
	height: 22px;
	display: block;
	background: url(../common_img/ico_close.png) no-repeat 0 0;
	background-size: 100% 100%;
	position: fixed;
	right: 83%;
	font-size: 0;
	top: 10px;
}

/* サイト注意事項 */
.starstyle li {
	font-size: 12px;
	text-indent: -13px;
	padding-left: 13px;
}

/* フッタ */
.notice {
	background: url(../common_img/bg_notice.png);
}

.notice .title {
	font-weight: 700;
	padding: 8px 12px;
}

.notice .title.accordion {
	padding-right: 35px;
	position: relative;
}

.notice .title.accordion:after {
	content: "";
	background: url(../common_img/ico_down.gif) no-repeat 0 0;
	background-size: 100% 100%;
	position: absolute;
	right: 12px;
	top: 6px;
	width: 22px;
	height: 22px;
}

.accordion-content {
	padding: 10px 12px;
	display: none;
}

.accordion-content ul li {
	text-indent: -2em;
	font-size: 11px;
	padding: 0 0 0 2em;
}

.accordion-content ul li:before {
	content: "※　";
}

.featured {
	padding: 10px 0;
	background-color: #86be95;
}

.featured{
	background: url(../img/bg_green_bright.png);
	background-size: cover;
	padding: 10px 0;
}

.featured li{
	padding: 3px;
	background: #ffffff;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ffffff), to(#f2f2f2));
	background: -webkit-linear-gradient(#ffffff, #f2f2f2);
	background: -moz-linear-gradient(#ffffff, #f2f2f2);
	background: -ms-linear-gradient(#ffffff, #f2f2f2);
	background: -o-linear-gradient(#ffffff, #f2f2f2);
	background: linear-gradient(#ffffff, #f2f2f2);
    margin: 0 0 2px;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.featured li:last-child{
	margin: 0;
}

.featured li a{
	border-left:4px solid #9DCCA2;
	display: block;
	padding: 6px 0 8px 8px;
	font-weight: bold;
	text-decoration: none;
	background: url(../img/bg_pc.png) no-repeat right center;
	background-size: 32px auto;
	width: 95.5%;
}

.featured li a span{
	line-height: 33px;
	display: inline-block;
	padding: 3px 0 0;
}

.featured li a img{
	width: 31px;
	border: 1px solid #d6d6d6;
	margin-right: 6px;
}

.regular {
	padding: 0;
	-webkit-box-shadow: 0px 3px 3px rgba(0,0,0,0.1);
}

.regular li {
	background: -webkit-gradient(linear, left top, left bottom, from(#fff),
           color-stop(0.5, #fff),
           to(#f2f2f2));
   float:left;
   width: 50%;
   line-height: 43px;
   padding: 2px 0 0;
}

.regular li a {
	text-decoration: none;
	padding: 0 7px;
	background: url(../img/bg_pc.png) no-repeat right center;
	background-size: 32px auto;
	display: block;
	border-bottom: 1px solid #EAEAEA;
	border-left: 1px solid #EAEAEA;
	width: 87%;
}

.regular li.mini a {
	font-size: 11px;
}

.pc {
	text-align: center;
	font-weight: 700;
	color: #419e83;
	background-color: #e5f4ec;
	padding: 10px 10px;
}

.pc span {
	color: #333;
}

.pc a + a {
	color: #419e83;
	text-decoration: none;
}

.copyright {
	background-color: #268c5b;
	padding: 5px 12px;
	text-align: center;
	color: #fff;
	font-style: italic;
	font-size: 11px;
}

.to-top {
	text-align: center;
	font-size: 12px;
	padding: 10px 10px;
}

.to-top a:before {
	content: "";
	display: inline-block;
	background: url(../common_img/ico-arrow-down.png) no-repeat 0 0;
	background-size: 100% 100%;
	width: 10px;
	height: 10px;
	vertical-align: middle;
	transform: rotate(-180deg);
	margin-right: 5px;
}

/* 問い合わせリンク */
.content-title {
	color: #333;
	font-size: 18px;
	font-weight: 700;
	padding: 8px 12px;
}

.head-title {
	color: #118650;
	font-size: 15px;
	font-weight: 700;
	margin-bottom: 5px;
}

/* Breadcrumb */
.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: #f5f5f5;
  border-radius: 4px;
		font-size:90%;
}
.breadcrumb > li {
  display: inline-block;
  line-height: 1.5;
}
.breadcrumb > li + li:before {
  content: ">";
  padding: 0 5px;
  color: #666;
}
.breadcrumb > .active {
  color: #999999;
}

/*メニュー用*/






/*固定フッター*/
/*#wraper {
	padding-bottom: 55px;
}*/

.fix-footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 12;
	box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
}

.fix-footer .ttl-block {
	padding: 9px 12px;
	border-top:1px solid #b7b7b7; 
	border-bottom:1px solid #b7b7b7;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #dcdcdc), color-stop(0.00, #f2f2f2));
	background: -webkit-linear-gradient(#f2f2f2, #dcdcdc);
	background: -moz-linear-gradient(#f2f2f2, #dcdcdc);
	background: -o-linear-gradient(#f2f2f2, #dcdcdc);
	background: -ms-linear-gradient(#f2f2f2, #dcdcdc);
	background: linear-gradient(#f2f2f2, #dcdcdc);
	position: relative;
}

.fix-footer .ttl-block .ttl {
	font-size: 15px;
	font-weight: bold;
}

.fix-footer .ttl-block .close {
	float: right;
	display: inline-block;
	background: #aaa;
	border-radius: 8px;
	padding: 5px 12px;
    position:absolute;
    right:10px;
    top:5px;
}
.fix-footer .ttl-block .close a {
    text-decoration:none;
	color: #fff;
	font-size: 13px;
    font-weight:bold;
}
.fix-footer .tel-block a {
	display: block;
	background: #fff;
	text-align: center;
	padding: 10px 0;
}

.fix-footer .tel-block a img {
	width: 85%;
}

.fix-footer .btn-block {
	display: table;
	width: 100%;
}

.fix-footer .btn {
	display: table-cell;
	width: 50%;
	vertical-align: middle;
	text-align: center;
	padding: 8px 0;
}

.fix-footer .btn a {
	color: #fff;
	font-size: 8px;
	font-weight: bold;
	text-decoration: none;
}

.fix-footer .request {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #ce0900), color-stop(0.00, #ff4e1e));
	background: -webkit-linear-gradient(#ff4e1e, #ce0900);
	background: -moz-linear-gradient(#ff4e1e, #ce0900);
	background: -o-linear-gradient(#ff4e1e, #ce0900);
	background: -ms-linear-gradient(#ff4e1e, #ce0900);
	background: linear-gradient(#ff4e1e, #ce0900);
}

.fix-footer .request img {
	width: 103px;
	height: 26px;
}

.fix-footer .campaign {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #f17700), color-stop(0.00, #f88d37));
	background: -webkit-linear-gradient(#f88d37, #f17700);
	background: -moz-linear-gradient(#f88d37, #f17700);
	background: -o-linear-gradient(#f88d37, #f17700);
	background: -ms-linear-gradient(#f88d37, #f17700);
	background: linear-gradient(#f88d37, #f17700);
}

.fix-footer .campaign img {
	width: 124px;
	height: 26px;
}

/*fix-footer変更（160531）*/
.fix-footer-new {
	background: rgba(0,0,0,0.4);
	bottom: 0;
	left: 0;
	position: fixed;
	width: 100%;
	z-index: 12;
}
.fix-footer-new .area-bnr {
	text-align: center;
	margin: 5px auto;
	width: 98%;
}
.fix-footer-new .area-bnr img {
	display: inline;
}
.fix-footer-new .area-bnr .bnr-l {
	width: 82%;
}
.fix-footer-new .area-bnr .icon-r {
	margin-left: 5px;
	width: 15.6%;
}

/*おすすめの霊園枠（160616）*/
.section h2.ttl-osusume {
	background: url(/sp/img/bg_green-left-arrow.png) no-repeat 0 center;
	background-size: cover;
	border: none;
	line-height: 55px;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	padding: 0 0 0 14.0625%;
}

.section h5.ttl-osusume {
	background: url(/sp/img/bg_green-left-arrow.png) no-repeat 0 center;
	background-size: cover;
	border: none;
	line-height: 55px;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	padding: 0 0 0 14.0625%;
}

.osusume-list li {
    border-bottom: 1px solid #ccc;
	font-size: 13px;
	line-height: 1.5;
    padding: 10px 12px;
}
.osusume-list li h3 {
    margin-bottom: 10px;
}
.osusume-list li h3 a {
    font-size: 15px;
    font-weight: 700;
    color: #118650;
}
.osusume-list .thumb {
    float: left;
    width: 35%;
}
.osusume-list .right {
    float: right;
    width: 65%;
    padding-left: 10px;
}
.osusume-list .right .price {
    display: block;
    color: #e60012;
    font-size: 15px;
    font-weight: 700;
}
.osusume-list .right .price + span {
    display: block;
    color: #e60012;
    font-size: 15px;
    font-weight: 700;
    padding-bottom: 3px;
}
.osusume-list .right .price + span img {
    width: 15px;
    vertical-align: -2px;
    margin-right: 0;
}
.osusume-list .right .price + span + span {
    margin-bottom: 3px;
    display: block;
}



/*履歴ボタン追加（161122）*/
#header-main-02 .header-area {
	padding: 4px 5px 5px 5px;
}
#header-main .header-area {
	padding: 4px 5px 5px 5px;
}
.header-area .menu01 {
	margin-top: 3px;
}
.header-area .txt-header {
	color: #207515;
	float: left;
	font-size: 10px;
	letter-spacing: -1px;
	line-height: 1.4;
	margin: 0;
	padding: 7px 0 0 0px;
	white-space: nowrap;
}
.header-area .img-rireki {
	cursor: pointer;
	display: inline-block;
    float: right;
	margin: 3px 5px 0 0;
	width: 42px;
}

.area-rireki-top {
	background: #fff;
	margin: 10px 5px;
}
.area-rireki-top .box-num-rireki .txt-num {
	margin-bottom: 5px;
}
.area-rireki-top .box-num-rireki .txt-num span {
	color: #e60012;
}
.area-rireki-top .innerbox .box-matome {
	background: #faf8ed;
	border: 2px solid #118650;
	border-radius: 4px;
	padding: 5px;
	position: relative;
}
.area-rireki-top .innerbox .box-matome:after,
.area-rireki-top .innerbox .box-matome:before {
	border: solid transparent;
	content: " ";
	height: 0;
	left: 22px;
	pointer-events: none;
	position: absolute;
	top: 100%;
	width: 0;
}
.area-rireki-top .innerbox .box-matome:after {
	border-color: rgba(136, 183, 213, 0);
	border-top-color: #faf8ed;
	border-width: 10px;
	margin-left: -10px;
}
.area-rireki-top .innerbox .box-matome:before {
	border-color: rgba(194, 225, 245, 0);
	border-top-color: #118650;
	border-width: 13px;
	margin-left: -13px;
}
.area-rireki-top .innerbox .box-matome span {
	display: inline-block;
}
.area-rireki-top .innerbox .box-matome .txt {
	display: inline-block;
	font-size: 14px;
	line-height: 1.0;
}

.box-btn-rireki {
	background: rgba(0, 0, 0, 0.5);
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	margin: 0 auto;
	padding: 10px 5px;
	width: 100%;
}
.box-btn-rireki p {
	display: inline-block;
	width: 42%;
}
.box-btn-rireki p.btn-kengaku {
	display: inline-block;
	width: 84%;
}

/*東証ロゴ変更（170721）*/
.area-listed {
	display: flex;
	flex-flow: nowrap;
	font-weight: bold;
	margin: 5px 0 5px;
	width: 100%;
}
.area-listed img.logo-listed {
	height: 36px;
	margin: 0 5px;
	width: 32px;
}
.area-listed .txt-listed {
	display: inline;
	font-size: 13px;
	font-weight: bold;
	line-height: 1.2;
}
.area-listed .txt-listed span {
	color: #f00;
}

/*レコメンド改修（170808）*/
.sec-rec {
	margin-bottom: 10px;
}
.sec-rec ul {
	display: flex;
	flex-flow: wrap;
	justify-content: center;
	margin: 0 3%;
}
.sec-rec li a {
	background: #f8f8f8;
	border: 1px solid #ccc;
	color: #404040;
	display: block;
	margin-bottom: 10px;
	padding: 0;
	text-decoration: none;
	width: 100%;
}
.sec-rec li a h4 {
	color: #076baf;
	font-size: 14px;
	margin-bottom: 3px;
	
	background: rgba(0,0,0,0);
	border-top: 0px;
	border-bottom: 0px;

}
.sec-rec li a .box-img {
	height: auto;
	margin: 0 0 5px;
	position: relative;
	width: 100%;
}
.sec-rec li a .box-img img {
	margin: 0 auto;
	max-height: 480px;
	max-width: 640px;
	text-align: center;
}
.sec-rec li a .box-img .bg-rec {
	background: rgba(0,0,0,0.6);
	bottom: 0;
	color: #fff;
	padding: 5px 10px;
	position: absolute;
	width: 100%;
}
.sec-rec li a .box-img .bg-rec h4 {
	color: #fff;
	font-size: 16px;
	font-weight: normal;
}
.sec-rec li a .box-img .bg-rec .txt-p {
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	line-height: 1.0;
}
.sec-rec li a .box-img .bg-rec .rank {
	display: inline-block;
	float: right;
	line-height: 1.0;
	text-align: right;
}
.sec-rec li a .box-img .bg-rec .rank img {
	width: 68px;
}
.sec-rec li a .box-img .bg-rec .rank span {
	color: #f14f0f;
	font-size: 16px;
	font-weight: bold;
	vertical-align: baseline;
}
.sec-rec li a ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin: 0 5px 5px;
	width: 100%;
}
.sec-rec li a ul li {
	display: inline;
	line-height: 1.0;
}
.sec-rec li a ul li.icon {
	background: #fff;
	border: solid 2px #118650;
	border-radius: 4px;
	color: #118650;
	font-size: 11px;
	line-height: 11px;
	margin: 2px 4px 4px 0;
	padding: 2px 2px 0;
}
.sec-rec li a ul li.icon-eki {
	margin-right: 2px;
}
.sec-rec li a ul li.icon-eki img {
	height: 22px;
	width: auto;
}
.sec-rec li a ul li.icon-pet {
	margin-right: 4px;
}
.sec-rec li a ul li.icon-pet img {
	height: 18px;
	margin: 2px 0;
	width: auto;
}
.sec-rec li a .txt-p {
	font-size: 20px;
}
.sec-rec li a .txt-a {
	font-size: 14px;
	margin: 0 5px;
}
.sec-rec li a .txt-t {
	font-size: 14px;
	margin: 0 5px 5px;
}
.sec-rec li a .btn-r {
	clear: both;
	display: block;
	margin: 0 auto 10px;
	text-align: center;
	width: 90%;
}

/*ヘッダー改修（170912）*/
#header-main-02 .area-header {
	padding: 0 0 0;
}
#header-main .area-header {
	padding: 0 0 0;
}
.area-header {
	background: url(/sp/common_img/bg_header01.gif) repeat-x left top;
	background-size: 5px 4px;
	border-top: 1px solid #fff;
	box-shadow: 0 0 3px #d5d5d4;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	padding: 0;
}
.area-header .logo {
	height: auto;
	margin-top: 12px;
	padding-left: 1%;
	width: 25%;
}
.area-header .img-tel {
	display: inline-block;
	margin-top: 12px;
	padding: 0 1%;
	width: 38%;
}
.area-header .img-rireki {
  background: url(/sp/common_img/bg_rireki.png) center top no-repeat;
	background-size: 43px;
	border-left: 1px solid #d5d5d4;
	color: #118650;
	cursor: pointer;
	display: inline-block;
	font-size: 8px;
	margin: 0;
	padding-top: 32px;
	text-align: center;
	text-decoration: none;
	width: 17%;
}
.area-header .menu01 {
  background: url(/sp/common_img/bg_menus.png) center top no-repeat;
	background-size: 43px;
	border-left: 1px solid #d5d5d4;
	color: #118650;
	cursor: pointer;
	display: inline-block;
	font-size: 9px;
	margin: 0;
	padding-top: 32px;
	text-align: center;
	text-decoration: none;
	width: 17%;
}
.area-header .menu01 span {
  display: block;
}
.area-header .menu01 span.close {
	background: url(/sp/common_img/icon_menu01_close.png) no-repeat center 4px;
	background-size: 13px 13px;
}
.area-header #main_overlay {
	background: rgba(0, 0, 0, 0.7);
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	text-align: right;
	top: 0;
	width: 100%;
	z-index: 9999;
}
.area-header #main_overlay span {
	background: #ccc;
	border-radius: 3px;
	display: inline-block;
	margin-top: 3px;
	overflow: auto;
	position: fixed;
	right: 270px;
}

/*固定フッターボタン改修（170829）*/
#fix-content-footer {
	background: rgba(0,0,0,0.5);
	bottom: 0;
	display: none;
	height: 5em;
	left: 0;
	position: fixed;
	width: 100%;
	z-index: 99;
}
#fix-content-footer a {
	text-decoration: none;
}
#fix-content-footer .btn-telarea {
	background: #fff;
  border: solid 3px #14ae67;
	border-radius: 6px;
	bottom: 5px;
	display: inline-block;
	left: 2px;
	line-height: 1.2;
	padding: 5px 0 3px;
	position: absolute;
	text-align: center;
	width: 49%;
}
#fix-content-footer .lead {
	color: #f00;
	font-size: 13px;
	text-decoration: none;
}
#fix-content-footer img.icon-tel {
	margin-bottom: 5px;
	vertical-align: middle;
	width: 20px;
}
#fix-content-footer a .txt-tel {
	color: #404040;
	font: normal normal bold 20px Arial, Helvetica, sans-serif;
	text-decoration: none;
}
#fix-content-footer .btn-kengaku {
	background: #f37e01;
	border-radius: 6px;
	bottom: 5px;
	color: #fff;
	display: inline-block;
	font: normal normal bold 13px Arial, Helvetica, sans-serif;
	line-height: 1.2;
	padding: 8px 0 6px;
	position: absolute;
	right: 2px;
	text-align: center;
	text-decoration: none;
	width: 49%;
}
#fix-content-footer .btn-kengaku span {
	background: #fff;
	border-radius: 6px;
	color: #f00;
	padding: 4px 1px 0;
}
#fix-content-footer .btn-kengaku strong {
	font-size: 20px;
}

/*固定フッターボタン改修（171121）*/
#fix-content-footer .btn-camp {
	background: #f37e01;
	border: solid 3px #f37e01;
	box-sizing: border-box;
	border-radius: 6px;
	bottom: 5px;
	color: #333;
	display: inline-block;
	font: normal normal bold 12px Arial, Helvetica, sans-serif;
	line-height: 1.2;
	padding: 4px 0 0;
	position: absolute;
	right: 2px;
	text-align: center;
	text-decoration: none;
	width: 49%;
}
#fix-content-footer .btn-camp .ttl-camp {
	color: #f00;
	padding-bottom: 4px;
	text-shadow: 1px 1px 0 #fff,
							 -1px 1px 0 #fff,
							 1px -1px 0 #fff,
							 -1px -1px 0 #fff;
}
#fix-content-footer .btn-camp .area-jcb {
	background: url(/sp/img/img_jcb.png) 5px -5px no-repeat #feea87;
	background-size: 30%;
	text-shadow: 1px 1px 0 #fff,
							 -1px 1px 0 #fff,
							 1px -1px 0 #fff,
							 -1px -1px 0 #fff;
}
#fix-content-footer .btn-camp span {
	border-radius: 6px;
	color: #f00;
	padding: 4px 1px 0;
}
#fix-content-footer .btn-camp strong {
	font-size: 20px;
}

/*メニュー改修（171017）*/
#main-menu .list-icon li {
	background: #fff url(/sp/common_img/icon_link.png) no-repeat 98%;
	background-size: 8px;
	padding: 0 0 0;
	border-bottom: 1px solid #ccc;
}
#main-menu .list-icon li a {
	color: #333;
	font-size: 15px;
	line-height: 1.2;
	padding: 14px 12px 12px 26px;
	text-decoration: none;
}
#main-menu .mb-80 {
	margin-bottom: 80px;
}
#main-menu .list-icon li.icon-01 a {
	background: #ebfbdb url(/sp/common_img/bg_rireki.png) 0 center no-repeat;
	background-size: 24px;
	color: #045896;
}
#main-menu .list-icon li.icon-02 a {
	background: #ebebeb url(/icon_img/icon_navi01.png) 3px center no-repeat;
	background-size: 18px;
	color: #045896;
	padding: 4px 10px 2px 26px;
}
#main-menu .list-icon li.icon-03 a {
	background: transparent url(/sp/common_img/ico_h_7.png) 5px center no-repeat;
	background-size: 14px;
}
#main-menu .list-icon li.icon-04 a {
	background: transparent url(/sp/common_img/ico_star.png) 3px center no-repeat;
	background-size: 18px;
}
#main-menu .list-icon li.icon-05 a {
	background: transparent url(/sp/img/icon_15.png) 3px center no-repeat;
	background-size: 18px;
}
#main-menu .list-icon li.icon-06 a {
	background: transparent url(/sp/img/icon_06.png) 3px center no-repeat;
	background-size: 18px;
}
#main-menu .list-icon li.icon-07 a {
	background: transparent url(/sp/img/icon_04.png) 3px center no-repeat;
	background-size: 18px;
}
#main-menu .list-icon li.icon-08 a {
	background: transparent url(/sp/img/icon_05.png) 3px center no-repeat;
	background-size: 18px;
}
#main-menu .list-icon li.icon-09 a {
	background: transparent url(/sp/img/icon_14.png) 3px center no-repeat;
	background-size: 18px;
}
#main-menu .list-icon li.icon-10 a {
	background: transparent url(/sp/img/icon_02.png) 3px center no-repeat;
	background-size: 18px;
}
#main-menu .list-icon li.icon-11 a {
	background: transparent url(/sp/img/icon_10.png) 3px center no-repeat;
	background-size: 18px;
}
#main-menu .list-icon li.icon-12 a {
	background: transparent url(/sp/img/icon_07.png) 3px center no-repeat;
	background-size: 18px;
}
#main-menu .list-icon li.icon-13 a {
	background: transparent url(/sp/img/icon_08.png) 3px center no-repeat;
	background-size: 18px;
}
#main-menu .list-icon li.icon-14 a {
	background: transparent url(/sp/img/icon_12.png) 3px center no-repeat;
	background-size: 18px;
}
#main-menu .list-icon li.icon-15 a {
	background: transparent url(/sp/img/icon_18.png) 3px center no-repeat;
	background-size: 18px;
}
#main-menu .list-icon li.icon-16 a {
	background: transparent url(/sp/img/icon_13.png) 3px center no-repeat;
	background-size: 18px;
}

#main-menu .list-icon li a span {
	border-right: solid 1px #045896;
;
	margin: 0 4px 0 0;
	padding: 0 4px 0 0;
}
#main-menu .list-icon li a span:last-child {
	border-right: none;
}

#main-menu .list-toku li {
	padding: 0 0 0 2px;
	border-bottom: 1px solid #ccc;
}
#main-menu .list-toku li a {
	background: #fff url(/sp/common_img/icon_link.png) no-repeat 98%;
	background-size: 8px;
	align-items: center;
	color: #333;
	display: flex;
	flex-flow: nowrap;
	font-size: 15px;
	justify-content: flex-start;
	padding: 10px 10px 8px 2px;
	text-decoration: none;
}
#main-menu .list-toku li a .icon-img {
	width: 16%;
}
#main-menu .list-toku li a p {
	line-height: 1.2;
	margin-left: 8px;
	width: 70%;
}
#main-menu .list-toku li a p strong {
	font-weight: bold;
}

/*フッターメニュー改修（171114）*/
#area-menu-f .ttl-new {
	background: url(/sp/img/bg_green.png) repeat-x;
	clear: both;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	line-height: 36px;
	padding: 0 4.6875%;
}
#area-menu-f .list-toku {
	margin: 0 0 10px;
	padding: 0;
}
#area-menu-f .list-toku li {
	border: none;
}
#area-menu-f .list-toku li a {
	align-items: center;
	background: #fff url(/sp/common_img/icon_link.png) no-repeat 98%;
	border: none;
	border-bottom: solid 1px #ccc;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	box-shadow: 0 0 0 0 rgba(0,0,0,0);
	-webkit-box-shadow: 0 0 0 0 rgba(0,0,0,0);
	-moz-box-shadow: 0 0 0 0 rgba(0,0,0,0);
	color: #404040;
	display: flex;
	flex-flow: nowrap;
	font-size: 16px;
	font-weight: normal;
	justify-content: flex-start;
	line-height: 1.4;
	margin: 0;
	padding: 2%;
	text-align: left;
	text-decoration: none;
	width: 100%;
}
#area-menu-f .list-toku li a .icon-img {
	height: 15%;
	width: 20%;
}
#area-menu-f .list-toku li a .icon-img02 {
	border: solid 2px #ebfbdb;
	box-sizing: border-box;
	/*height: 15%;*/
	width: 20%;
}
#area-menu-f .list-toku li a p {
	margin-left: 5%;
	width: 70%;
}
#area-menu-f .list-toku li a p strong {
	font-size: 16px;
	font-weight: bold;
}