@charset "utf-8";
/* フォーム */
input[ type=radio ] {
  -moz-transform-origin: right;
  -moz-transform: scale( 1.8, 1.8 );
  -webkit-transform-origin: right;
  -webkit-transform: scale( 1.8, 1.8 );
}
#contents-onecol {
  font-size: 14px;
  line-height: 1.6;
  margin: 0 10px;
}
#contents-onecol .title-main {
  font-weight: bold;
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#558A5E),  color-stop(0.5, #578E60),  to(#558A5E));
  line-height: 20px;
  padding: 8px 4.6875% 6px;
  font-size: 14px;
}
.input-step {
  margin: 10px 0 16px;
}
.list-table {
  border-collapse: collapse;
  font-size: 14px;
  width: 100%;
  text-align: center;
  margin: 0px;
}
.list-table th {
  color: #288f5d;
  background: #E8F3EB;
  padding: 4px;
  border: 1px solid #288f5d;
}
.list-table .select {
  width: 4em;
}
.list-table .visit {
  width: 5em;
}
.list-table td {
  background: #F9F9F9;
  padding: 4px;
  vertical-align: middle;
  border: 1px solid #288f5d;
  font-size: 12px;
}
.research {
  font-size: 16px;
  text-align: right;
  padding: 0 4.6875% 11px;
}
.input-table input, .input-table select, .input-table textarea {
  background: none;
  border: none;
  font-size: 14px;
  line-height: 1.6;
  margin: 0;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.input-table label {
  background: #92c99b;
  display: block;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.input-table span.f89b00 {
  background: #f89b00;
  padding: 1px 5px;
  display: inline-block;
  color: #fff;
  font-size: 11px;
  font-weight: bold;
}
.input-table .name {
  float: left;
}
.input-table div {
  padding: 0;
}
.input-table input {
  font-size: 14px;
  height: 40px;
  margin-top: 0;
  padding: 0 5px;
}
.input-table input, .input-table select, .input-table textarea {
  border-radius: 4px;
}
.input-table select {
  height: 30px;
  -webkit-appearance: menulist-button;
  border: 1px solid #ccc;
  margin: 3px 0 0;
}
.input-table .chui {
  font-weight: bold;
  color: #999;
  margin: 3px 0 0;
  font-size: 11px;
}
.input-table .error {
  color: #CC3366;
  font-weight: bold;
  margin: 2px 0 0;
}
.txtC {
  margin: 10px 0 10px;
  line-height: 1.5;
  font-size: 11px;
}
.mrk-ssl {
  width: 81px;
  margin: 0 auto 16px;
}
.input-table sup {
  font-size: 9px;
  vertical-align: super;
}
.input-table label.btn-radio {
  background: none;
  display: inline;
  font-weight: normal;
  margin: 0;
  padding: 5px 6px;
  line-height: 3.0;
}
.input-table .select-point span.txt {
  background: #92c99b;
  color: #404040;
  font-weight: normal;
}
.input-table .select-point div {
  line-height: 2.0;
}
.input-table .select-point select {
  float: right;
  width: 40%;
}
.input-table .select-point textarea {
  padding: 0;
}
.input-table label.check-box {
  background: none;
  display: inline;
  font-weight: normal;
  margin: 0;
  padding: 5px 6px;
  line-height: 2.0;
}
.input-table h3 {
  font-weight: bold;
  margin: 10px 10px 0 10px;
}
.input-table #div_name {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  width: 100%;
}
.input-table #div_name #div_last_name, .input-table #div_name #div_first_name, .input-table #div_name #div_last_kana, .input-table #div_name #div_first_kana {
  margin-bottom: 10px;
  padding: 0;
  position: relative;
  width: 49%;
}
.input-table #div_company_name, .input-table #div_department, .input-table #div_email, .input-table #div_tel {
  margin-bottom: 10px;
  position: relative;
  width: 100%;
}
.input-table #div_company_name input, .input-table #div_department input, .input-table #div_email input, .input-table #div_tel input, .input-table #div_seek_trigger input {
  width: 100%;
}
.input-table #div_address, .input-table #div_place, .input-table #div_seek_trigger {
  margin-bottom: 10px;
  padding-top: 10px;
  position: relative;
  width: 100%;
}
.input-table #div_place {
  margin-bottom: 0;
  padding-top: 10px;
  position: relative;
  width: 100%;
}
.input-table #div_address #div_zip input,
.input-table #div_reien #div_zip input {
  /*background: #ffffe5;*/
  border: solid 1px #a2a2a2;
  width: 68%;
}
.input-table #div_address #div_zip,
.input-table #div_reien #div_zip {
  display: flex;
  flex-flow: nowrap;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 100%;
}
.input-table #div_address #div_zip button,
.input-table #div_reien #div_zip button {
  background: #fff;
  border: 1px solid #a2a2a2;
  border-radius: 4px;
  color: #404040;
  display: inline-block;
  font-weight: bold;
  height: 40px;
  width: 30%;
}
.input-table #div_address #div_state select#state, .input-table #div_reien #div_state select#build_state, .input-table #div_place #div_cemetery_state select#cemetery_state, .input-table #div_seek_trigger select#seek_trigger {
  background: #f3f3f3;
  border: 1px solid #a2a2a2;
  border-radius: 4px;
  height: 40px;
  margin-bottom: 10px;
  padding: 0 5px;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.input-table #div_address #div_state, .input-table #div_reien #div_state, .input-table #div_place #div_cemetery_state, .input-table #div_seek_trigger {
  position: relative;
}
.input-table #div_reien #div_state img.icon-arrow, .input-table #div_address #div_state img.icon-arrow, .input-table #div_place #div_cemetery_state img.icon-arrow {
  position: absolute;
  right: 0;
  top: 18px;
  width: 10%;
}
.input-table #div_seek_trigger img.icon-arrow {
  position: absolute;
  right: 0;
  top: 56px;
  width: 10%;
}
.input-table #div_reien #div_reien1 input, .input-table #div_address #div_address1 input, .input-table #div_address #div_address2 input {
  background: none;
  height: 40px;
  margin-bottom: 10px;
  width: 100%;
}
.input-table span.icon-nes {
  background: #ee4c4c;
  color: #fff;
  display: inline-block;
  font-size: 11px;
  font-weight: 600;
  padding: 1px 3px 0;
  position: absolute;
  right: 10px;
  top: 10px;
}
.input-table p.txt-ttl {
  padding-bottom: 5px;
}
.area-check {
  margin: 0 0 10px;
  position: relative;
}
.area-check .txt-kibou {
  color: #288f5d;
}
.area-check input.checkbox {
  display: inline;
  height: 24px;
  width: 24px;
}
.area-check #div_inf_chk {
  border-top: solid 1px #e8e8e8;
  margin-bottom: 10px;
  padding-top: 10px;
}
.area-check #div_comment, .area-check #div_umu, .area-check #div_sect, .area-check #div_yosan, .area-check #div_youbou {
  margin-bottom: 10px;
  position: relative;
  width: 100%;
}
.area-check #div_umu select#umu, .area-check #div_sect select#sect, .area-check #div_yosan select#yosan {
  background: #f3f3f3;
  border: 1px solid #a2a2a2;
  border-radius: 4px;
  font-size: 14px;
  height: 40px;
  margin-bottom: 10px;
  padding: 0 5px;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.area-check #div_umu img.icon-arrow, .area-check #div_sect img.icon-arrow, .area-check #div_yosan img.icon-arrow {
  position: absolute;
  right: 0;
  top: 42px;
  width: 10%;
}
.area-check span.icon-nes01 {
  background: #9a9a9a;
  color: #fff;
  display: inline-block;
  font-size: 11px;
  font-weight: 600;
  padding: 1px 3px 0;
  position: absolute;
  right: 10px;
  top: 0;
}
.area-check #div_youbou textarea {
  border: 1px solid #a2a2a2;
  border-radius: 4px;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.area-check #div_comment textarea {
  border: 1px solid #a2a2a2;
  border-radius: 4px;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.area-check .btn-next {
  margin: 0 0 10px;
}
.area-check .btn-next button {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.offer-list input.checkbox {
  display: inline;
  height: 24px;
  width: 24px;
}
/*「いいお墓」デザイン改修（170516）*/
#form-e-ohaka #header-main-02 .header-area {
  background: url(/sp/img/bg_green-dark.png) repeat-x 0 -106px;
  border-bottom: solid 1px #e8e8e8;
  height: 40px;
  margin-bottom: 10px;
  padding: 0 0 0;
  position: relative;
}
#form-e-ohaka #header-main-02 .logo-form {
  background: url(/sp/common_img/header-logo.png) 10px no-repeat;
  background-size: 80px;
  float: none;
  height: 40px;
  left: 0;
  position: absolute;
  text-indent: -9999px;
  top: 5px;
  width: 100%;
}
#form-e-ohaka #header-main-02 .ttl-regist {
  font-size: 16px;
  font-weight: bold;
  padding-top: 20px;
  text-align: center;
}
#form-e-ohaka .bar-flow {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  line-height: 2.0;
  margin: 0 auto 10px;
  text-align: center;
  width: 90%;
}
#form-e-ohaka .bar-flow li.icon-01 {
  background: url(/img/bar_flow01.png) center no-repeat;
  background-size: 80%;
  color: #fff;
  padding-top: 2px;
  width: 50%;
}
#form-e-ohaka .bar-flow li.icon-02 {
  background: url(/img/bar_flow02.png) center no-repeat;
  background-size: 80%;
  padding-top: 2px;
  width: 50%;
}
/*「いい永代」デザイン改修（170516）*/
#form-e-eitai #header-main-02 .header-area {
  background: none;
  border-bottom: solid 1px #e8e8e8;
  border-top: solid 6px #39a84a;
  height: 40px;
  margin-bottom: 10px;
  padding: 0 0 6px;
  position: relative;
}
#form-e-eitai #header-main-02 .logo-form {
  background: url(/img/e-eitai/logo.png) 5px no-repeat;
  background-size: 120px;
  float: none;
  height: 40px;
  left: 0;
  position: absolute;
  text-indent: -9999px;
  width: 100%;
}
#form-e-eitai #header-main-02 .ttl-regist {
  clear: both;
  font-size: 16px;
  font-weight: bold;
  padding-top: 14px;
  text-align: center;
}
#form-e-eitai .bar-flow {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  line-height: 2.0;
  margin: 0 auto 10px;
  text-align: center;
  width: 90%;
}
#form-e-eitai .bar-flow li.icon-01 {
  background: url(/img/e-eitai/bar_flow01.png) center no-repeat;
  background-size: 80%;
  color: #fff;
  padding-top: 2px;
  width: 50%;
}
#form-e-eitai .bar-flow li.icon-02 {
  background: url(/img/e-eitai/bar_flow02.png) center no-repeat;
  background-size: 80%;
  padding-top: 2px;
  width: 50%;
}
#form-e-eitai .area-check .txt-kibou {
  color: #39a84a;
}
#form-e-eitai .list-table th {
  background: #cde9d2;
  border: 1px solid #39a84a;
  color: #39a84a;
  padding: 4px;
}
#form-e-eitai .list-table td {
  background: #f9f9f9;
  border: 1px solid #39a84a;
  font-size: 12px;
  padding: 4px;
  vertical-align: middle;
}
#form-e-eitai #footer {
  background: #39a84a;
  color: #fff;
  font-size: 10px;
  line-height: 23px;
  padding: 2px 0 0;
  text-align: center;
}
/*「寺院墓地」デザイン改修（170516）*/
#form-jiin-bochi #header-main-02 .header-area {
  background: none;
  border-bottom: solid 1px #e8e8e8;
  border-top: solid 6px #927040;
  height: 40px;
  margin-bottom: 10px;
  padding: 0 0 6px;
  position: relative;
}
#form-jiin-bochi #header-main-02 .logo-form {
  background: url(/img/jiin-bochi/logo.png) 5px no-repeat;
  background-size: 120px;
  float: none;
  height: 40px;
  left: 0;
  position: absolute;
  text-indent: -9999px;
  width: 100%;
}
#form-jiin-bochi #header-main-02 .ttl-regist {
  clear: both;
  font-size: 16px;
  font-weight: bold;
  padding-top: 14px;
  text-align: center;
}
#form-jiin-bochi .bar-flow {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  line-height: 2.0;
  margin: 0 auto 10px;
  text-align: center;
  width: 90%;
}
#form-jiin-bochi .bar-flow li.icon-01 {
  background: url(/img/jiin-bochi/bar_flow01.png) center no-repeat;
  background-size: 80%;
  color: #fff;
  padding-top: 2px;
  width: 50%;
}
#form-jiin-bochi .bar-flow li.icon-02 {
  background: url(/img/jiin-bochi/bar_flow02.png) center no-repeat;
  background-size: 80%;
  padding-top: 2px;
  width: 50%;
}
#form-jiin-bochi .area-check .txt-kibou {
  color: #927040;
}
#form-jiin-bochi .list-table th {
  background: #e4dbcf;
  border: 1px solid #927040;
  color: #927040;
  padding: 4px;
}
#form-jiin-bochi .list-table td {
  background: #f9f9f9;
  border: 1px solid #927040;
  font-size: 12px;
  padding: 4px;
  vertical-align: middle;
}
#form-jiin-bochi #footer {
  background: #927040;
  color: #fff;
  font-size: 10px;
  line-height: 23px;
  padding: 2px 0 0;
  text-align: center;
}
/*「樹木葬なび」デザイン改修（170516）*/
#form-e-jyumoku #header-main-02 .header-area {
  background: none;
  border-bottom: solid 1px #e8e8e8;
  border-top: solid 6px #8fb742;
  height: 40px;
  margin-bottom: 10px;
  padding: 0 0 6px;
  position: relative;
}
#form-e-jyumoku #header-main-02 .logo-form {
  background: url(/img/e-jyumoku/logo.png) 5px no-repeat;
  background-size: 120px;
  float: none;
  height: 40px;
  left: 0;
  position: absolute;
  text-indent: -9999px;
  width: 100%;
}
#form-e-jyumoku #header-main-02 .ttl-regist {
  clear: both;
  font-size: 16px;
  font-weight: bold;
  padding-top: 14px;
  text-align: center;
}
#form-e-jyumoku .bar-flow {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  line-height: 2.0;
  margin: 0 auto 10px;
  text-align: center;
  width: 90%;
}
#form-e-jyumoku .bar-flow li.icon-01 {
  background: url(/img/e-jyumoku/bar_flow01.png) center no-repeat;
  background-size: 80%;
  color: #fff;
  padding-top: 2px;
  width: 50%;
}
#form-e-jyumoku .bar-flow li.icon-02 {
  background: url(/img/e-jyumoku/bar_flow02.png) center no-repeat;
  background-size: 80%;
  padding-top: 2px;
  width: 50%;
}
#form-e-jyumoku .area-check .txt-kibou {
  color: #8fb742;
}
#form-e-jyumoku .list-table th {
  background: #e3edd0;
  border: 1px solid #8fb742;
  color: #8fb742;
  padding: 4px;
}
#form-e-jyumoku .list-table td {
  background: #f9f9f9;
  border: 1px solid #8fb742;
  font-size: 12px;
  padding: 4px;
  vertical-align: middle;
}
#form-e-jyumoku #footer {
  background: #8fb742;
  color: #fff;
  font-size: 10px;
  line-height: 23px;
  padding: 2px 0 0;
  text-align: center;
}
/*「納骨堂なび」デザイン改修（170516）*/
#form-e-nokotu #header-main-02 .header-area {
  background: none;
  border-bottom: solid 1px #e8e8e8;
  border-top: solid 6px #4e3618;
  height: 40px;
  margin-bottom: 10px;
  padding: 0 0 6px;
  position: relative;
}
#form-e-nokotu #header-main-02 .logo-form {
  background: url(/img/e-nokotu/logo.png) 5px no-repeat;
  background-size: 120px;
  float: none;
  height: 40px;
  left: 0;
  position: absolute;
  text-indent: -9999px;
  width: 100%;
}
#form-e-nokotu #header-main-02 .ttl-regist {
  clear: both;
  font-size: 16px;
  font-weight: bold;
  padding-top: 14px;
  text-align: center;
}
#form-e-nokotu .bar-flow {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  line-height: 2.0;
  margin: 0 auto 10px;
  text-align: center;
  width: 90%;
}
#form-e-nokotu .bar-flow li.icon-01 {
  background: url(/img/e-nokotu/bar_flow01.png) center no-repeat;
  background-size: 80%;
  color: #fff;
  padding-top: 2px;
  width: 50%;
}
#form-e-nokotu .bar-flow li.icon-02 {
  background: url(/img/e-nokotu/bar_flow02.png) center no-repeat;
  background-size: 80%;
  padding-top: 2px;
  width: 50%;
}
#form-e-nokotu .area-check .txt-kibou {
  color: #4e3618;
}
#form-e-nokotu .list-table th {
  background: #d3cdc5;
  border: 1px solid #4e3618;
  color: #4e3618;
  padding: 4px;
}
#form-e-nokotu .list-table td {
  background: #f9f9f9;
  border: 1px solid #4e3618;
  font-size: 12px;
  padding: 4px;
  vertical-align: middle;
}
#form-e-nokotu #footer {
  background: #4e3618;
  color: #fff;
  font-size: 10px;
  line-height: 23px;
  padding: 2px 0 0;
  text-align: center;
}
/*「愛知の霊園」デザイン改修（170516）*/
#form-reien-aichi #header-main-02 .header-area {
  background: none;
  border-bottom: solid 1px #e8e8e8;
  border-top: solid 6px #924e4e;
  height: 40px;
  margin-bottom: 10px;
  padding: 0 0 6px;
  position: relative;
}
#form-reien-aichi #header-main-02 .logo-form {
  background: url(/img/reien-aichi/logo.jpg) 5px no-repeat;
  background-size: 120px;
  float: none;
  height: 40px;
  left: 0;
  position: absolute;
  text-indent: -9999px;
  width: 100%;
}
#form-reien-aichi #header-main-02 .ttl-regist {
  clear: both;
  font-size: 16px;
  font-weight: bold;
  padding-top: 14px;
  text-align: center;
}
#form-reien-aichi .bar-flow {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  line-height: 2.0;
  margin: 0 auto 10px;
  text-align: center;
  width: 90%;
}
#form-reien-aichi .bar-flow li.icon-01 {
  background: url(/img/reien-aichi/bar_flow01.png) center no-repeat;
  background-size: 80%;
  color: #fff;
  padding-top: 2px;
  width: 50%;
}
#form-reien-aichi .bar-flow li.icon-02 {
  background: url(/img/reien-aichi/bar_flow02.png) center no-repeat;
  background-size: 80%;
  padding-top: 2px;
  width: 50%;
}
#form-reien-aichi .area-check .txt-kibou {
  color: #924e4e;
}
#form-reien-aichi .list-table th {
  background: #e4d3d3;
  border: 1px solid #924e4e;
  color: #924e4e;
  padding: 4px;
}
#form-reien-aichi .list-table td {
  background: #f9f9f9;
  border: 1px solid #924e4e;
  font-size: 12px;
  padding: 4px;
  vertical-align: middle;
}
#form-reien-aichi #footer {
  background: #924e4e;
  background-size: auto;
  color: #fff;
  font-size: 10px;
  line-height: 23px;
  padding: 2px 0 0;
  text-align: center;
}
/*「千葉の霊園」デザイン改修（170516）*/
#form-reien-chiba #header-main-02 .header-area {
  background: none;
  border-bottom: solid 1px #e8e8e8;
  border-top: solid 6px #9f769f;
  height: 40px;
  margin-bottom: 10px;
  padding: 0 0 6px;
  position: relative;
}
#form-reien-chiba #header-main-02 .logo-form {
  background: url(/img/reien-chiba/logo.jpg) 5px no-repeat;
  background-size: 120px;
  float: none;
  height: 40px;
  left: 0;
  position: absolute;
  text-indent: -9999px;
  width: 100%;
}
#form-reien-chiba #header-main-02 .ttl-regist {
  clear: both;
  font-size: 16px;
  font-weight: bold;
  padding-top: 14px;
  text-align: center;
}
#form-reien-chiba .bar-flow {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  line-height: 2.0;
  margin: 0 auto 10px;
  text-align: center;
  width: 90%;
}
#form-reien-chiba .bar-flow li.icon-01 {
  background: url(/img/reien-chiba/bar_flow01.png) center no-repeat;
  background-size: 80%;
  color: #fff;
  padding-top: 2px;
  width: 50%;
}
#form-reien-chiba .bar-flow li.icon-02 {
  background: url(/img/reien-chiba/bar_flow02.png) center no-repeat;
  background-size: 80%;
  padding-top: 2px;
  width: 50%;
}
#form-reien-chiba .area-check .txt-kibou {
  color: #9f769f;
}
#form-reien-chiba .list-table th {
  background: #e7dde7;
  border: 1px solid #9f769f;
  color: #9f769f;
  padding: 4px;
}
#form-reien-chiba .list-table td {
  background: #f9f9f9;
  border: 1px solid #9f769f;
  font-size: 12px;
  padding: 4px;
  vertical-align: middle;
}
#form-reien-chiba #footer {
  background: #9f769f;
  color: #fff;
  font-size: 10px;
  line-height: 23px;
  padding: 2px 0 0;
  text-align: center;
}
/*「兵庫の霊園」デザイン改修（170516）*/
#form-reien-hyogo #header-main-02 .header-area {
  background: none;
  border-bottom: solid 1px #e8e8e8;
  border-top: solid 6px #8e8e22;
  height: 40px;
  margin-bottom: 10px;
  padding: 0 0 6px;
  position: relative;
}
#form-reien-hyogo #header-main-02 .logo-form {
  background: url(/img/reien-hyogo/logo.jpg) 5px no-repeat;
  background-size: 120px;
  float: none;
  height: 40px;
  left: 0;
  position: absolute;
  text-indent: -9999px;
  width: 100%;
}
#form-reien-hyogo #header-main-02 .ttl-regist {
  clear: both;
  font-size: 16px;
  font-weight: bold;
  padding-top: 14px;
  text-align: center;
}
#form-reien-hyogo .bar-flow {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  line-height: 2.0;
  margin: 0 auto 10px;
  text-align: center;
  width: 90%;
}
#form-reien-hyogo .bar-flow li.icon-01 {
  background: url(/img/reien-hyogo/bar_flow01.png) center no-repeat;
  background-size: 80%;
  color: #fff;
  padding-top: 2px;
  width: 50%;
}
#form-reien-hyogo .bar-flow li.icon-02 {
  background: url(/img/reien-hyogo/bar_flow02.png) center no-repeat;
  background-size: 80%;
  padding-top: 2px;
  width: 50%;
}
#form-reien-hyogo .area-check .txt-kibou {
  color: #8e8e22;
}
#form-reien-hyogo .list-table th {
  background: #e3e3c8;
  border: 1px solid #8e8e22;
  color: #8e8e22;
  padding: 4px;
}
#form-reien-hyogo .list-table td {
  background: #f9f9f9;
  border: 1px solid #8e8e22;
  font-size: 12px;
  padding: 4px;
  vertical-align: middle;
}
#form-reien-hyogo #footer {
  background: #8e8e22;
  color: #fff;
  font-size: 10px;
  line-height: 23px;
  padding: 2px 0 0;
  text-align: center;
}
/*「神奈川の霊園」デザイン改修（170516）*/
#form-reien-kanagawa #header-main-02 .header-area {
  background: none;
  border-bottom: solid 1px #e8e8e8;
  border-top: solid 6px #6e82aa;
  height: 40px;
  margin-bottom: 10px;
  padding: 0 0 6px;
  position: relative;
}
#form-reien-kanagawa #header-main-02 .logo-form {
  background: url(/img/reien-kanagawa/logo.jpg) 5px no-repeat;
  background-size: 120px;
  float: none;
  height: 40px;
  left: 0;
  position: absolute;
  text-indent: -9999px;
  width: 100%;
}
#form-reien-kanagawa #header-main-02 .ttl-regist {
  clear: both;
  font-size: 16px;
  font-weight: bold;
  padding-top: 14px;
  text-align: center;
}
#form-reien-kanagawa .bar-flow {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  line-height: 2.0;
  margin: 0 auto 10px;
  text-align: center;
  width: 90%;
}
#form-reien-kanagawa .bar-flow li.icon-01 {
  background: url(/img/reien-kanagawa/bar_flow01.png) center no-repeat;
  background-size: 80%;
  color: #fff;
  padding-top: 2px;
  width: 50%;
}
#form-reien-kanagawa .bar-flow li.icon-02 {
  background: url(/img/reien-kanagawa/bar_flow02.png) center no-repeat;
  background-size: 80%;
  padding-top: 2px;
  width: 50%;
}
#form-reien-kanagawa .area-check .txt-kibou {
  color: #6e82aa;
}
#form-reien-kanagawa .list-table th {
  background: #dbe0ea;
  border: 1px solid #6e82aa;
  color: #6e82aa;
  padding: 4px;
}
#form-reien-kanagawa .list-table td {
  background: #f9f9f9;
  border: 1px solid #6e82aa;
  font-size: 12px;
  padding: 4px;
  vertical-align: middle;
}
#form-reien-kanagawa #footer {
  background: #6e82aa;
  color: #fff;
  font-size: 10px;
  line-height: 23px;
  padding: 2px 0 0;
  text-align: center;
}
/*「大阪の霊園」デザイン改修（170516）*/
#form-reien-osaka #header-main-02 .header-area {
  background: none;
  border-bottom: solid 1px #e8e8e8;
  border-top: solid 6px #4781bb;
  height: 40px;
  margin-bottom: 10px;
  padding: 0 0 6px;
  position: relative;
}
#form-reien-osaka #header-main-02 .logo-form {
  background: url(/img/reien-osaka/logo.jpg) 5px no-repeat;
  background-size: 120px;
  float: none;
  height: 40px;
  left: 0;
  position: absolute;
  text-indent: -9999px;
  width: 100%;
}
#form-reien-osaka #header-main-02 .ttl-regist {
  clear: both;
  font-size: 16px;
  font-weight: bold;
  padding-top: 14px;
  text-align: center;
}
#form-reien-osaka .bar-flow {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  line-height: 2.0;
  margin: 0 auto 10px;
  text-align: center;
  width: 90%;
}
#form-reien-osaka .bar-flow li.icon-01 {
  background: url(/img/reien-osaka/bar_flow01.png) center no-repeat;
  background-size: 80%;
  color: #fff;
  padding-top: 2px;
  width: 50%;
}
#form-reien-osaka .bar-flow li.icon-02 {
  background: url(/img/reien-osaka/bar_flow02.png) center no-repeat;
  background-size: 80%;
  padding-top: 2px;
  width: 50%;
}
#form-reien-osaka .area-check .txt-kibou {
  color: #4781bb;
}
#form-reien-osaka .list-table th {
  background: #d1dfee;
  border: 1px solid #4781bb;
  color: #4781bb;
  padding: 4px;
}
#form-reien-osaka .list-table td {
  background: #f9f9f9;
  border: 1px solid #4781bb;
  font-size: 12px;
  padding: 4px;
  vertical-align: middle;
}
#form-reien-osaka #footer {
  background: #4781bb;
  color: #fff;
  font-size: 10px;
  line-height: 23px;
  padding: 2px 0 0;
  text-align: center;
}
/*「埼玉の霊園」デザイン改修（170516）*/
#form-reien-saitama #header-main-02 .header-area {
  background: none;
  border-bottom: solid 1px #e8e8e8;
  border-top: solid 6px #77a276;
  height: 40px;
  margin-bottom: 10px;
  padding: 0 0 6px;
  position: relative;
}
#form-reien-saitama #header-main-02 .logo-form {
  background: url(/img/reien-saitama/logo.jpg) 5px no-repeat;
  background-size: 120px;
  float: none;
  height: 40px;
  left: 0;
  position: absolute;
  text-indent: -9999px;
  width: 100%;
}
#form-reien-saitama #header-main-02 .ttl-regist {
  clear: both;
  font-size: 16px;
  font-weight: bold;
  padding-top: 14px;
  text-align: center;
}
#form-reien-saitama .bar-flow {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  line-height: 2.0;
  margin: 0 auto 10px;
  text-align: center;
  width: 90%;
}
#form-reien-saitama .bar-flow li.icon-01 {
  background: url(/img/reien-saitama/bar_flow01.png) center no-repeat;
  background-size: 80%;
  color: #fff;
  padding-top: 2px;
  width: 50%;
}
#form-reien-saitama .bar-flow li.icon-02 {
  background: url(/img/reien-saitama/bar_flow02.png) center no-repeat;
  background-size: 80%;
  padding-top: 2px;
  width: 50%;
}
#form-reien-saitama .area-check .txt-kibou {
  color: #77a276;
}
#form-reien-saitama .list-table th {
  background: #dde8dd;
  border: 1px solid #77a276;
  color: #77a276;
  padding: 4px;
}
#form-reien-saitama .list-table td {
  background: #f9f9f9;
  border: 1px solid #77a276;
  font-size: 12px;
  padding: 4px;
  vertical-align: middle;
}
#form-reien-saitama #footer {
  background: #77a276;
  color: #fff;
  font-size: 10px;
  line-height: 23px;
  padding: 2px 0 0;
  text-align: center;
}
/*「東京の霊園」デザイン改修（170516）*/
#form-reien-tokyo #header-main-02 .header-area {
  background: none;
  border-bottom: solid 1px #e8e8e8;
  border-top: solid 6px #82786e;
  height: 40px;
  margin-bottom: 10px;
  padding: 0 0 6px;
  position: relative;
}
#form-reien-tokyo #header-main-02 .logo-form {
  background: url(/img/reien-tokyo/logo.jpg) 5px no-repeat;
  background-size: 120px;
  float: none;
  height: 40px;
  left: 0;
  position: absolute;
  text-indent: -9999px;
  width: 100%;
}
#form-reien-tokyo #header-main-02 .ttl-regist {
  clear: both;
  font-size: 16px;
  font-weight: bold;
  padding-top: 14px;
  text-align: center;
}
#form-reien-tokyo .bar-flow {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  line-height: 2.0;
  margin: 0 auto 10px;
  text-align: center;
  width: 90%;
}
#form-reien-tokyo .bar-flow li.icon-01 {
  background: url(/img/reien-tokyo/bar_flow01.png) center no-repeat;
  background-size: 80%;
  color: #fff;
  padding-top: 2px;
  width: 50%;
}
#form-reien-tokyo .bar-flow li.icon-02 {
  background: url(/img/reien-tokyo/bar_flow02.png) center no-repeat;
  background-size: 80%;
  padding-top: 2px;
  width: 50%;
}
#form-reien-tokyo .area-check .txt-kibou {
  color: #82786e;
}
#form-reien-tokyo .list-table th {
  background: #e0dddb;
  border: 1px solid #82786e;
  color: #82786e;
  padding: 4px;
}
#form-reien-tokyo .list-table td {
  background: #f9f9f9;
  border: 1px solid #82786e;
  font-size: 12px;
  padding: 4px;
  vertical-align: middle;
}
#form-reien-tokyo #footer {
  background: #82786e;
  color: #fff;
  font-size: 10px;
  line-height: 23px;
  padding: 2px 0 0;
  text-align: center;
}
/*簡単資料請求フォーム改修（170808）*/
.area-lead .box-f {
  background: #ffffb2;
  border: 3px solid #ea5300;
  border-radius: 5px;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 10px 20px;
  padding: 4px 5px 2px;
  position: relative;
}
.area-lead .box-f:after, .area-lead .box-f:before {
  border: solid transparent;
  content: " ";
  height: 0;
  left: 80%;
  pointer-events: none;
  position: absolute;
  top: 100%;
  width: 0;
}
.area-lead .box-f:after {
  border-color: rgba(213, 213, 85, 0);
  border-top-color: #ffffb2;
  border-width: 8px;
  margin-left: -8px;
}
.area-lead .box-f:before {
  border-color: rgba(245, 164, 103, 0);
  border-top-color: #ea5300;
  border-width: 13px;
  margin-left: -13px;
}
.area-lead .lead-flow {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: center;
}
.area-lead .txt-flow {
  font-size: 16px;
  margin: 0 10px 10px;
}
.area-check span.icon-nes {
  background: #ee4c4c;
  color: #fff;
  display: inline-block;
  font-size: 11px;
  font-weight: 600;
  padding: 1px 3px 0;
  position: absolute;
  right: 10px;
  top: 20px;
}
#form-e-ohaka .bar-flow li.icon-01-comp {
  background: url(/img/bar_flow01_comp.png) center no-repeat;
  background-size: 80%;
  padding-top: 2px;
  width: 50%;
}
#form-e-ohaka .bar-flow li.icon-02-comp {
  background: url(/img/bar_flow02_comp.png) center no-repeat;
  background-size: 80%;
  color: #fff;
  padding-top: 2px;
  width: 50%;
}
.area-comp {
  padding: 10px 0 20px;
}
.area-comp h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}
.area-comp p {
  margin-bottom: 20px;
}
.area-comp .btn-totop {
  margin: 0 auto;
  text-align: center;
}
/*見学予約改修（170822）*/
.area-btn-kengaku {
  background: #f1f1f1;
  font-size: 13px;
  line-height: 1.5;
  margin-top: 5px;
  padding: 5px 10px;
  text-align: center;
}
.area-btn-kengaku .txt-lead {
  color: #ff5722;
  font-weight: bold;
  text-align: center;
}
.area-btn-kengaku a {
  text-decoration: none;
}
.area-btn-kengaku a .btn-kengaku {
  background: linear-gradient(#fff, #efebe1);
  border: solid 1px #999;
  border-radius: 4px;
  box-shadow: 0 2px #666;
  color: #404040;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.0;
  margin-bottom: 5px;
  padding: 8px 0 6px;
}
.area-btn-kengaku a .btn-kengaku .freedial {
  background: url(../images/orange_arrow.png) 0 5px no-repeat;
  background-size: 24px;
  color: #404040;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: -2px;
  margin-bottom: 4px;
  padding-left: 15px;
}
.area-btn-kengaku .btn-kengaku .freedial img.icon-freedial {
  vertical-align: baseline;
  width: 46px;
}
.area-btn-kengaku a .btn-kengaku .txt-time span {
  color: #ff5722;
}
.form-reserve .w-check {
  margin: 0;
  padding: 7px 10px 5px 25px;
  text-align: center;
  width: 30%;
}
.form-reserve input[type=checkbox] {
  -moz-transform-origin: right;
  -moz-transform: scale( 1.8, 1.8 );
  -webkit-transform-origin: right;
  -webkit-transform: scale( 1.8, 1.8 );
  margin-top: 5px;
}
.form-reserve select {
  line-height: 1.0;
}
.form-reserve #div_inf_chk {
  border-top: solid 1px #e8e8e8;
  margin-bottom: 10px;
  padding: 10px 10px 0;
}
.form-reserve #div_inf_chk span {
  font-size: 12px;
}
.form-reserve .btn-next {
  padding: 0 4.6875%;
}
.form-reserve .btn-next button {
  background: #f37e01;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 0 #e15f00;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 10px;
  padding: 12px 0 10px;
  width: 100%;
}
/*掲載・提携（170822）*/
#contact-partner #header-main-02 .header-area {
  background: url(/sp/img/bg_green-dark.png) repeat-x 0 -106px;
  border-bottom: solid 1px #e8e8e8;
  height: 40px;
  margin-bottom: 0;
  padding: 0 0 0;
  position: relative;
}
#contact-partner #header-main-02 .logo-form {
  background: url(/sp/common_img/header-logo.png) 10px no-repeat;
  background-size: 80px;
  float: none;
  height: 40px;
  left: 0;
  position: absolute;
  text-indent: -9999px;
  top: 5px;
  width: 100%;
}
#contact-partner .sec-lead {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 10px;
  width: 100%;
}
#contact-partner .sec-lead .ttl-main {
  background: #14ae67;
  color: #fff;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 10px 10px 8px;
  width: 100%;
}
#contact-partner .sec-lead .txt-lead {
  font-size: 16px;
  padding: 0 10px 10px;
}
#contact-partner .sec-data, #contact-partner .sec-merit {
  border-bottom: solid 2px #14ae67;
  line-height: 1.5;
  margin: 0 auto 20px;
  padding: 0 10px 10px;
  width: 100%;
}
#contact-partner .sec-data h2, #contact-partner .sec-merit h2 {
  color: #14ae67;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 10px;
}
#contact-partner .sec-data h2 img {
  vertical-align: bottom;
  width: 40%;
}
#contact-partner .txt-lead-data {
  color: #14ae67;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
#contact-partner .area-data .area-kihon {
  width: 100%;
}
#contact-partner .area-data .area-kihon th {
  background: #14ae67;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.0;
  padding-top: 10px;
  text-align: center;
  vertical-align: middle;
  width: 40%;
}
#contact-partner .area-data .area-kihon th span {
  font-size: 11px;
  font-weight: normal;
}
#contact-partner .area-data .area-kihon td {
  background: #f4f0eb;
  font-size: 14px;
  padding: 10px 0 0 5px;
  vertical-align: bottom;
  width: 60%;
}
#contact-partner .area-data .area-kihon td strong {
  font-size: 24px;
}
#contact-partner .area-data .area-kihon .txt-add {
  font-size: 12px;
  text-align: right;
}
#contact-partner .area-data img {
  width: 100%;
}
#contact-partner .sec-merit .list-merit .li-merit {
  background: #14ae67;
  line-height: 1.5;
  margin-bottom: 10px;
  position: relative;
}
#contact-partner .sec-merit .list-merit .li-merit:last-child {
  margin-bottom: 0;
}
#contact-partner .sec-merit .list-merit li .box-merit {
  background: #14ae67;
  color: #fff;
  display: inline-block;
  font-size: 13px;
  left: 0;
  line-height: 1.5;
  padding-top: 25px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 12%;
}
#contact-partner .sec-merit .list-merit li .box-merit span {
  font-size: 30px;
  font-weight: bold;
}
#contact-partner .sec-merit .list-merit li .merit-01 {
  background: #f4f0eb;
  display: block;
  margin-left: 12%;
  width: 88%;
}
#contact-partner .sec-merit .list-merit li .merit-01 .ttl-merit {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
#contact-partner .sec-merit .list-merit li .merit-01 li {
  font-size: 13px;
  padding-left: 10px;
}
#contact-partner .sec-merit .list-merit li .merit-02 {
  background: url(/sp/contact_partner/img/arrow.png) center top no-repeat;
  font-size: 16px;
  font-weight: bold;
  padding-top: 25px;
  text-align: center;
}
#contact-partner .bar-flow {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  line-height: 2.0;
  margin: 0 auto 10px;
  text-align: center;
  width: 100%;
}
#contact-partner .bar-flow li.icon-01 {
  background: url(/sp/contact_partner/img/bar_flow01.png) center no-repeat;
  background-size: 100%;
  color: #fff;
  padding-top: 2px;
  width: 33%;
}
#contact-partner .bar-flow li.icon-01-comp {
  background: url(/sp/contact_partner/img/bar_flow01_comp.png) center no-repeat;
  background-size: 100%;
  padding-top: 2px;
  width: 33%;
}
#contact-partner .bar-flow li.icon-02 {
  background: url(/sp/contact_partner/img/bar_flow01_comp.png) center no-repeat;
  background-size: 100%;
  padding-top: 2px;
  width: 33%;
}
#contact-partner .bar-flow li.icon-02-comp {
  background: url(/sp/contact_partner/img/bar_flow02_comp.png) center no-repeat;
  color: #fff;
  background-size: 100%;
  padding-top: 2px;
  width: 33%;
}
#contact-partner .bar-flow li.icon-03 {
  background: url(/sp/contact_partner/img/bar_flow02.png) center no-repeat;
  background-size: 100%;
  padding-top: 2px;
  width: 33%;
}
#contact-partner #div_item {
  margin-bottom: 10px;
  position: relative;
  width: 100%;
}
#contact-partner select#contact_item {
  background: #f3f3f3;
  border: 1px solid #a2a2a2;
  border-radius: 4px;
  font-size: 14px;
  height: 40px;
  margin-bottom: 10px;
  padding: 0 5px;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
#contact-partner #div_item img.icon-arrow {
  position: absolute;
  right: 0;
  top: 42px;
  width: 10%;
}
#contact-partner span.icon-nes02 {
  background: #ee4c4c;
  color: #fff;
  display: inline-block;
  font-size: 11px;
  font-weight: 600;
  padding: 1px 3px 0;
  position: absolute;
  right: 10px;
  top: 0;
}
#contact-partner .txt-ans {
  font-size: 16px;
  margin: 0 0 10px 10px;
}
#contact-partner .comp-area {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
#contact-partner .comp-area h2 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}
/*TELバナー追記（170912）*/
.area-bnr-tel {
  font-size: 13px;
  line-height: 1.5;
  padding: 5px 0;
  text-align: center;
}
.area-bnr-tel .txt-lead {
  color: #ff5722;
  font-weight: bold;
  text-align: center;
}
.area-bnr-tel a {
  text-decoration: none;
}
.area-bnr-tel a .btn-kengaku {
  background: linear-gradient(#fff, #efebe1);
  border: solid 1px #999;
  border-radius: 4px;
  box-shadow: 0 2px #666;
  color: #404040;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.0;
  margin-bottom: 5px;
  padding: 8px 0 6px;
}
.area-bnr-tel a .btn-kengaku .freedial {
  background: url(../images/orange_arrow.png) 0 5px no-repeat;
  background-size: 24px;
  color: #404040;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: -2px;
  margin-bottom: 4px;
  padding-left: 15px;
}
.area-bnr-tel .btn-kengaku .freedial img.icon-freedial {
  vertical-align: baseline;
  width: 46px;
}
.area-bnr-tel a .btn-kengaku .txt-time span {
  color: #ff5722;
}
/*追加要望（171024）*/
.area-check #txt-add {
  text-align: center;
}
.area-check #txt-add img {
  height: 12px;
  margin-right: 5px;
  width: 12px;
}
.area-check #area-add {
  display: none;
}
/*完了ページ改修（171226）*/
.complete h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 10px;
}
.complete .offer-list {
  background: #eee;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
}
.complete .offer-list .title {
  color: #288f5d;
  margin: 0 0 10px;
  padding: 0;
}
.complete .offer-list li {
  font-weight: bold;
  margin: 0 0 5px;
}
.complete .offer-list li:last-child {
  margin: 0;
}
.complete .list-osusume li {
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  flex-flow: nowrap;
  font-size: 10px;
  justify-content: flex-start;
  line-height: 1.5;
  margin: 0 1px 5px 0;
  padding: 0;
}
.complete .list-osusume li .box-detail .ico-new {
  background: #f10051;
  border-radius: 8px;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  line-height: 1.0;
  margin-left: 5px;
  padding: 4px 8px 2px;
  position: absolute;
  right: 5px;
  text-decoration: none;
  top: 5px;
}
.complete .list-osusume li .box-detail .box-inner .thumb {
  margin-right: 5px;
  width: 40%;
}
.complete .list-osusume li .box-detail .box-inner .txt-place {
  font-size: 13px;
}
.complete .list-osusume li .box-detail .ico-type02 {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 5px;
}
.complete .list-osusume li .box-detail .ico-type02 li {
  border-radius: 4px;
  color: #fff;
  padding: 2px 2px 0;
  white-space: nowrap;
}
.complete .list-osusume li .box-detail .ico-type02 .type-e {
  background: #00ace6;
}
.complete .list-osusume li .box-detail .ico-type02 .type-p {
  background: #a08d76;
}
.complete .list-osusume li .box-detail .ico-type02 .type-g {
  background: #6a9c3a;
}
.complete .area-next {
	margin: 0 auto 10px;
	text-align: center;
	width: 100%;
}
.complete .area-next .txt-att {
	font-size: 12px;
	line-height: 1.5;
	margin-bottom: 10px;
}
.complete .area-next .btn-next {
	background: #f37e00;
	border: none;
	border-radius: 4px;
	box-shadow: 0 2px #e15f00;
	color: #fff;
	display: inline-block;
	font-size: 18px;
	font-weight: bold;
	line-height: 20px;
	margin: 0;
	padding: 15px 0 13px;
	text-align: center;
	text-decoration: none;
	width: 100%;
}

/*墓石カタログ請求（180116）*/
.area-check h2.txt-reien {
	border-bottom: solid 1px #14ae67;
	color: #14ae67;
	font-size: 18px;
	font-weight: bold;
	line-height: 1.2;
	margin-bottom: 10px;
}
.area-check .txt-oubo {
	width: 94%;
}
.area-check .txt-oubo label,
#div_youbou label {
	background: #fff;
  font-weight: normal;
	line-height: 1.5;
  margin-bottom: 10px;
  padding: 0;
}
.area-check .chk-camp,
#div_youbou .chk-book {
	display: none;
}
.area-check .txt-camp,
#div_youbou .txt-book {
	font-weight: normal;
	padding-left: 28px;
	position: relative;
}
.area-check .txt-camp::before,
#div_youbou .txt-book::before {
  background: #f3f3f3;
  border: 1px solid #a2a2a2;
  border-radius: 4px;
	content: "";
	display: block;
  font-size: 14px;
  height: 24px;
	left: 0;
  margin-bottom: 10px;
  padding: 0;
	position: absolute;
	top: -5px;
  width: 24px;
  appearance: none;
}
.area-check .chk-camp:checked + .txt-camp::after,
#div_youbou .chk-book:checked + .txt-book::after {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 7px;
  width: 7px;
  height: 14px;
  transform: rotate(40deg);
  border-bottom: 5px solid #404040;
  border-right: 5px solid #404040;
}
